.table td, .table th {
    margin: 2px !important;
}
textarea.order {
    width: 20px;
}
#footer-thankyou, #footer-upgrade, #dashboard-widgets-wrap, #contextual-help-link, .wrap h1, #show-settings-link,
#wp-admin-bar-comments{
    display: none !important;
}
#icons_set hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #229cff !important; /* Цвет линии для остальных браузеров */
    background-color: #229cff !important; /* Цвет линии для браузера Firefox и Opera */
    height: 1px !important; /* Толщина линии */
}
.td-icon span:before { color:#9EA3A8 !important;}
.dashicons {color: grey !important;}
[data=icon] {cursor: pointer; color: #a9a9a9 !important;}
[data=icon]:hover {color: #000 !important;}
#control_admin_menu_items {width: 800px;}
#control_admin_menu_items h5, h5.color_select, #choose_selected_item_color {color:deepskyblue; margin: 10px 0;}
#wp-admin-bar-wp-logo {display: none;}